<% provide(:title, "Edit user") %>

<% if params[:token] %>
  <h1>Reset your password</h1>
<% else %>
  <h1>Update your profile</h1>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <% unless params[:token] %>
        <%= render 'shared/fields', f: f %>
      <% end %>
      <%= f.label :new_password %>
      <%= f.password_field :new_password %>
      <%= f.submit "Modify account", class: "btn btn-large btn-primary" %>
    <% end %>
    
    <% unless params[:token] %>
      <%= gravatar_for @user %>
      <%= link_to 'change', 'http://gravatar.com/emails' %>
    <% end %>
  </div>
</div>