<h2>Forgot your password?</h2>

<%= form_for(:user, :url => reset_password_url) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :login, "Username or Email" %>
    <br/>
    <%= f.text_field :login %>
  </div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
