<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Music App" %></title>
      <metaname="description" content="<%=content_for? (:description) ? 
      yield(:description) : "Music App" %>">
                  
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <header>
      <%= render 'layouts/header' %>
    </header>
    
    <div class="container">	
	    <% flash.each do |key, value| %>
        <% value.each do |val|  %>
	        <%= content_tag(:div, val, class: "alert alert-#{key}") %>
	      <% end %>
      <% end %>
        
      <%= yield %>
      
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
        
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>